<div class="row mt-2" *ngIf="!showEnableGroup">
    <div class="col-12">
        <h2>Are you sure want to disable '{{groupName}}' group?</h2>
    </div>
</div>
<div class="row" *ngIf="!showEnableGroup">
    <div class="col-md-6 col-lg-6 col-sm-12 mt-2">
        <button class="btn btn-outline-primary btn-block" (click)="cancel()">No</button>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 mt-2">
        <button class="btn btn-primary btn-block" (click)="yes()">Yes</button>
    </div>
</div>
<div class="row mt-2" *ngIf="showEnableGroup">
    <div class="col-12">
        <h2>Are you sure want to enable '{{groupName}}' group?</h2>
    </div>
</div>
<div class="row" *ngIf="showEnableGroup">
    <div class="col-md-6 col-lg-6 col-sm-12 mt-2">
        <button class="btn btn-outline-primary btn-block" (click)="cancel()">No</button>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 mt-2">
        <button class="btn btn-primary btn-block" (click)="yes()">Yes</button>
    </div>
</div>