<div class="container-fluid mt-0 dashboard">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="row resize-sid-nav-bar">
        <div class="col-md-3 col-lg-2 col-sm-12 side-nav-bar">
          <ul class="nav flex-column nav-pills mt-2">
            <li class="nav-item" id="uploadDocument" *ngIf="showDashboard" (click)="displayDashboard()">
              <a class="nav-link active" data-toggle="tab" active="on">
                <fa-icon [icon]="faChartLine" size="1x" class="mr-2"></fa-icon>
                Dashboard
              </a>
            </li>
            <li class="nav-item" id="uploadDocument" *ngIf="!showDashboard" (click)="displayDashboard()">
              <a class="nav-link" data-toggle="tab" active="on">
                <fa-icon [icon]="faChartLine" size="1x" class="mr-2"></fa-icon>
                Dashboard
              </a>
            </li>
            <li class="nav-item" id="downloadDocument" *ngIf="showMap" (click)="displayMap()">
              <a class="nav-link active" data-toggle="tab">
                <fa-icon [icon]="faMap" size="1x" class="mr-2"></fa-icon>
                Map
              </a>
            </li>
            <li class="nav-item" id="downloadDocument" *ngIf="!showMap" (click)="displayMap()">
              <a class="nav-link" data-toggle="tab">
                <fa-icon [icon]="faMap" size="1x" class="mr-2"></fa-icon>
                Map
              </a>
            </li>
            <li class="nav-item" id="downloadDocument" *ngIf="showCatelouge" (click)="displayCatelouge()">
              <a class="nav-link active" data-toggle="tab">
                <fa-icon [icon]="faLayerGroup" size="1x" class="mr-2"></fa-icon>
                Catelouge
              </a>
            </li>
            <li class="nav-item" id="downloadDocument" *ngIf="!showCatelouge" (click)="displayCatelouge()">
              <a class="nav-link" data-toggle="tab">
                <fa-icon [icon]="faLayerGroup" size="1x" class="mr-2"></fa-icon>
                Catelouge
              </a>
            </li>
            <li class="nav-item" id="downloadDocument" *ngIf="showProjectData" (click)="displayProjectData()">
              <a class="nav-link active" data-toggle="tab">
                <fa-icon [icon]="faProjectDiagram" size="1x" class="mr-2"></fa-icon>
                Project Data
              </a>
            </li>
            <li class="nav-item" id="downloadDocument" *ngIf="!showProjectData" (click)="displayProjectData()">
              <a class="nav-link" data-toggle="tab">
                <fa-icon [icon]="faProjectDiagram" size="1x" class="mr-2"></fa-icon>
                Project Data
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-9 col-sm-12 col-lg-10 ml-auto mt-3" *ngIf="showCatelouge">
          <mat-card class="catalouge">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="row">
                  <input type="file" name="file" [(ngModel)]="sendFile.file" #fileUpload id="fileUpload"
                    name="fileUpload" multiple="multiple" (change)="checkFile($event)">
                </div>
                <div class="row mt-5 listBox">
                  <div class="col-lg-10 col-md-10 col-sm-12">
                    <div class="row mt-2" *ngFor="let item of attachmentList">
                      <div class="col-md-10 col-lg-10 col-sm-12">
                        <mat-progress-bar [value]="item.progress"></mat-progress-bar>
                        <!-- {{item.name |slice:0:15}}{{item.name.length > 15 ?'...':''}} -->
                      </div>
                      <div class="col-md-2 col-lg-2 col-sm-12 ml-auto">
                        <fa-icon (click)="deleteFile(item.name)" [icon]="faTimes" szie="xs" style="cursor: pointer; color:blue">
                        </fa-icon>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <!-- <mat-progress-bar [value]="item.progress"></mat-progress-bar> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12">
                    <button class="btn btn-primary">Upload</button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>