<div class="container-fluid mt-0 mainBackground dashboard">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="row resize">
        <div class="col-md-3 col-lg-2 col-sm-12 side-nav-bar">
          <ul class="nav flex-column nav-pills">
            <li class="nav-item" id="uploadDocument">
              <a class="nav-link" data-toggle="tab">
                Upload Document
              </a>
            </li>
            <li class="nav-item" id="downloadDocument">
              <a class="nav-link" data-toggle="tab">
                Download Document
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
