<div class="container-fluid mt-0 dashboard">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="row resize-sid-nav-bar">
        <div class="col-md-3 col-lg-2 col-sm-12 side-nav-bar">
          <ul class="nav flex-column nav-pills mt-2">
            <li class="nav-item" id="uploadDocument" *ngIf="showDashboardList">
              <a class="nav-link active" data-toggle="tab" active="on" (click)="showDashboard()">
                <fa-icon [icon]="faChartLine" size="1x" class="mr-2"></fa-icon>
                Dashboard
              </a>
            </li>
            <li class="nav-item" id="uploadDocument" *ngIf="!showDashboardList">
              <a class="nav-link" data-toggle="tab" active="on" (click)="showDashboard()">
                <fa-icon [icon]="faChartLine" size="1x" class="mr-2"></fa-icon>
                Dashboard
              </a>
            </li>
            <li class="nav-item" id="downloadDocument" *ngIf="showUserList">
              <a class="nav-link active" data-toggle="tab" for="user" (click)="showUser()">
                <fa-icon [icon]="faUsers" size="1x" class="mr-2"></fa-icon>
                Users
              </a>
            </li>
            <li class="nav-item" id="downloadDocument" *ngIf="!showUserList">
              <a class="nav-link" data-toggle="tab" for="user" (click)="showUser()">
                <fa-icon [icon]="faUsers" size="1x" class="mr-2"></fa-icon>
                Users
              </a>
            </li>
            <li class="nav-item" id="downloadDocument" *ngIf="showGroupList">
              <a class="nav-link active" data-toggle="tab" (click)="showGroup()">
                <fa-icon [icon]="faLayerGroup" size="1x" class="mr-2"></fa-icon>
                Groups
              </a>
            </li>
            <li class="nav-item" id="downloadDocument" *ngIf="!showGroupList">
              <a class="nav-link" data-toggle="tab" (click)="showGroup()">
                <fa-icon [icon]="faLayerGroup" size="1x" class="mr-2"></fa-icon>
                Groups
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-9 col-lg-10 col-sm-12 ml-auto mt-3" *ngIf="showDashboardList">
          <div class="row">
            <div class="col-12" id="dashboard">
              <h1>Dashboard</h1>
              <hr>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-lg-10 col-sm-12 ml-auto mt-3" *ngIf="showUserList">
          <div class="row">
            <div class="col-12" id="user">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-10 col-sm-12">
                  <mat-card>
                    <h1 class="mb-0">Add User</h1>
                    <hr class="mt-0">
                    <div class="row">
                      <div class="col-md-4 col-lg-4 col-sm-12 border-right">
                        <mat-form-field class="form-field">
                          <mat-label>User Name</mat-label>
                          <input matInput required>
                        </mat-form-field>
                        <mat-form-field class="form-field">
                          <mat-label>Email</mat-label>
                          <input matInput required>
                        </mat-form-field>
                        <mat-form-field class="form-field">
                          <mat-label>Password</mat-label>
                          <input matInput [type]="checkPassword ? 'password': 'text'" name="password"
                          placeholder="********" minlength="8" maxlength="255"
                          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #newPassword="ngModel"
                          [(ngModel)]="getDashboardData.password" validateEqual="currentPassword" reverse="true" required />
                      <mat-icon matSuffix (click)="passwordSuperAdminEyes(true)">
                          <fa-icon [icon]="faEye" size="xs" [hidden]="!checkPassword"></fa-icon>
                          <fa-icon [icon]="faEyeSlash" size="xs" [hidden]="checkPassword"></fa-icon>
                      </mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4 col-lg-4 col-sm-12 border-right">
                        <mat-form-field class="form-field">
                          <mat-label>Select Group</mat-label>
                          <mat-select>
                            <mat-option>Group1</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-lg-10 col-sm-12 ml-auto mt-3" *ngIf="showGroupList">
          <div class="row">
            <div class="col-12" id="user">
              <h1>Groups</h1>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
