<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 border-right">
        <form [formGroup]="formGroup">
            <div formGroupName="item">
                <div formArrayName="relations">
                    <div>
                        <button class="btn btn-primary btn-block" (click)="addNewGroupAndRole()">Add new
                            Role
                            and Group</button>
                        <div *ngFor="let rel of relations.controls; let i = index">
                            <div [formGroup]="rel">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <mat-form-field class="form-field">
                                            <mat-label>Select Role</mat-label>
                                            <mat-select formControlName="role">
                                                <mat-option value=1>Admin</mat-option>
                                                <mat-option value=2>Super User</mat-option>
                                                <mat-option value=3>User</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <mat-form-field class="form-field">
                                            <input type="text" aria-label="text" #input
                                                placeholder="Search the group or sub group" matInput
                                                (formControl)="control" formControlName="group" [matAutocomplete]="auto"
                                                (keyup)="filterGroup(input.value)">
                                            <mat-autocomplete #auto="matAutocomplete"
                                                [displayWith]="AutoCompleteDisplay">
                                                <mat-option *ngFor="let group of groupList" [value]="group">
                                                    {{group.title}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5 col-sm-12 mt-2">
                        <button class="btn btn-outline-primary btn-block" (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-md-6 col-lg-5 col-sm-12 mt-2">
                        <button class="btn btn-primary btn-block" (click)="update()" type="submit"
                            [disabled]="!formGroup.valid">create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>