<div class="container-fluid mt-0 dashboard">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="row resize-sid-nav-bar">
        <div class="col-md-3 col-lg-2 col-sm-12 side-nav-bar">
          <ul class="nav flex-column nav-pills mt-2">
            <li class="nav-item" id="uploadDocument">
              <a class="nav-link" data-toggle="tab" active="on">
                <fa-icon [icon]="faChartLine" size="1x" class="mr-2"></fa-icon>
                Dashboard
              </a>
            </li>
            <li class="nav-item" id="downloadDocument">
              <a class="nav-link" data-toggle="tab">
                <fa-icon [icon]="faMap" size="1x" class="mr-2"></fa-icon>
                Map
              </a>
            </li>
            <li class="nav-item" id="downloadDocument">
              <a class="nav-link" data-toggle="tab">
                <fa-icon [icon]="faLayerGroup" size="1x" class="mr-2"></fa-icon>
                Catelouge
              </a>
            </li>
            <li class="nav-item" id="downloadDocument">
              <a class="nav-link" data-toggle="tab">
                <fa-icon [icon]="faProjectDiagram" size="1x" class="mr-2"></fa-icon>
                Project Data
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>