.mat-card-custom{
    color:#00BBE1 ;
    padding:1rem;
}
.mat-card-custom:hover{
    box-shadow:0px 0px 4px 3px #00BBE1;
    cursor: pointer;
}
img{
    height: 90vh;
}
@media (max-width:767px){
    img{
        display: none;
    }
}