$md-rdaBlue:(
    50: #e6f4f8,
    100: #c0e3ec,
    200: #96d0e0,
    300: #6cbdd4,
    400: #4daeca,
    500: #2da0c1,
    600: #2898bb,
    700: #228eb3,
    800: #1c84ab,
    900: #11739e,
    A100:#cfefff,
    A200:#9cdeff, 
    A400:#69cdff,
    A700:#4fc5ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff, 
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    )
);
$md-rdaDarkBlue :(
    50: #e6f4f8,
    100: #c0e3ec,
    200: #96d0e0,
    300: #6cbdd4,
    400: #4daeca,
    500: #2da0c1,
    600: #2898bb,
    700: #228eb3,
    800: #1c84ab,
    900: #11739e,
    A100:#cfefff,
    A200:#9cdeff, 
    A400:#69cdff,
    A700:#4fc5ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000, 
        500: #000000,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    )
)